:root {

    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --first-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --text-color: #757575;
    --akcent-color: #2196F3;
    --white-color: #FFFFFF;
    --black-color:#000000;
    --dark-bg-color: #2F303A;
    --white-bg-color: #FFFFFF;
    --grey-bg-color: #F5F4FA;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--main-font);
}

.link {
    text-decoration: none;
    color: currentColor;
}

.list {
    list-style: none;
}

.header,
.feaches,
.ourwork {
    background-color: var(--white-bg-color);
}

.logo {
    color: var(--akcent-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.logo:hover,
.logo:focus {
    
}

.header-logo {
    color: var(--black-color);
}

.nav-link {
    color: var(--secondary-title-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--akcent-color);
}

.current {
    color: var(--akcent-color);
}

.contacts-link {
    color: var(--text-color);
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--akcent-color);
}

.hero {
    background-color: var(--dark-bg-color);
}

.hero-title {
    color: var(--first-title-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-btn {
    color: var(--white-color);
    font-family: inherit;
    background-color: var(--akcent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--akcent-color);
    background-color: var(--white-bg-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.feaches-item-title {
    color: var(--secondary-title-color);
    font-size: 14px;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.feaches-item-description {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.ourwork-title {
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.team {
    background-color: var(--grey-bg-color);
}

.team-title {
    color: var(--secondary-title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 1.08px;
}

.specialist {
    color: var(--secondary-title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.position {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.19;
    letter-spacing: 0.48px;
}

.footer {
    background-color: var(--dark-bg-color);
}

.footer-logo {
    color: var(--white-color);
}

.address-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.white {
    color: var(--white-color);
}

.portfolio-btn {
    color: var(--secondary-title-color);
    background-color: var(--grey-bg-color);
    text-align: center;
    font-family: Roboto;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    cursor: pointer;
    border: none;
}

.active {
    color: var(--white-bg-color);
    background-color: var(--akcent-color);  
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--akcent-color);
    background-color: var(--white-bg-color);
}

.project-title {
    color: var(--secondary-title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.product {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.48px;
}